# eBay API credentials (required)
EBAY_CLIENT_ID=your_ebay_client_id
EBAY_CLIENT_SECRET=your_ebay_client_secret
EBAY_ENV=production

# SendGrid email alerts (required for daily scan emails)
SENDGRID_API_KEY=your_sendgrid_api_key
ALERT_EMAIL_TO=marcus@apd.co.uk
ALERT_EMAIL_FROM=alerts@apd.co.uk
